.popup__container {
  transform: translate(-50%, -50%);
  top: 46%;
  left: 50%;
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  z-index: 101;
  opacity: 1;
  position: relative;
}

@media (max-width: 650px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
