.footer {
  max-width: 100%;
  padding-top: 66px;
}

@media (max-width: 880px) {
  .footer {
    padding-top: 40px;
  }
}

@media (max-width: 650px) {
  .footer {
    padding-top: 48px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}
